#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
  .loading-bg
    div.loading-img(src="https://imgsrc.baidu.com/super/pic/item/0dd7912397dda144aab0796cf7b7d0a20df486b6.jpg")
    .loading-image-dot
